/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 100%;
  display: flex;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

.trip {
  border-radius: 4px;
  border: solid 1px #888888;
  color: #FFFFFF;
  font-size: 12px;
  padding: 5px 5px;
  position: relative;
  text-align: center;
  white-space: normal;
  width: 150px;
}

.trip::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/*
.trip0 {
  background-color: #5f88ef;
}
.trip0::after {
  border-top: 8px solid #5f88ef;
}

.trip1 {
  background-color: #ee6399;
}
.trip1::after {
  border-top: 8px solid #ee6399;
}

.trip2 {
  background-color: #aaaa00;
}
.trip2::after {
  border-top: 8px solid #aaaa00;
}

.trip3 {
  background-color: #198e8e;
}
.trip3::after {
  border-top: 8px solid #198e8e;
}

.trip4 {
  background-color: #dd0000;
}
.trip4::after {
  border-top: 8px solid #dd0000;
}

.trip5 {
  background-color: #6e55bb;
}
.trip5::after {
  border-top: 8px solid #6e55bb;
}

.trip6 {
  background-color: #dd33dd;
}
.trip6::after {
  border-top: 8px solid #dd33dd;
}
*/

.trip0 { background-color: #e6194b; }
.trip0::after { border-top: 8px solid #e6194b; }
.trip1 { background-color: #3cb44b; }
.trip1::after { border-top: 8px solid #3cb44b; }
.trip2 { background-color: #dde119; }
.trip2::after { border-top: 8px solid #dde119; }
.trip3 { background-color: #4363d8; }
.trip3::after { border-top: 8px solid #4363d8; }
.trip4 { background-color: #f58231; }
.trip4::after { border-top: 8px solid #f58231; }
.trip5 { background-color: #911eb4; }
.trip5::after { border-top: 8px solid #911eb4; }
.trip6 { background-color: #46d0d0; }
.trip6::after { border-top: 8px solid #46d0d0; }
.trip7 { background-color: #f032e6; }
.trip7::after { border-top: 8px solid #f032e6; }
.trip8 { background-color: #bcd60c; }
.trip8::after { border-top: 8px solid #bcd60c; }
.trip9 { background-color: #f8bcbc; }
.trip9::after { border-top: 8px solid #d8bcbc; }
.trip10 { background-color: #008080; }
.trip10::after { border-top: 8px solid #008080; }
.trip11 { background-color: #e6beff; }
.trip11::after { border-top: 8px solid #e6beff; }
.trip12 { background-color: #9a6324; }
.trip12::after { border-top: 8px solid #9a6324; }
.trip13 { background-color: #ff0ac8; }
.trip13::after { border-top: 8px solid #ff0ac8; }
.trip14 { background-color: #800000; }
.trip14::after { border-top: 8px solid #800000; }
.trip15 { background-color: #66ddc3; }
.trip15::after { border-top: 8px solid #66ddc3; }
.trip16 { background-color: #808000; }
.trip16::after { border-top: 8px solid #808000; }
.trip17 { background-color: #aa86b1; }
.trip17::after { border-top: 8px solid #aa86b1; }
.trip18 { background-color: #000075; }
.trip18::after { border-top: 8px solid #000075; }
.trip19 { background-color: #808080; }
.trip19::after { border-top: 8px solid #808080; }
.trip20 { background-color: #000000; }
.trip20::after { border-top: 8px solid #000000; }